.actor_role_list_popup {width: 100vw; height: 100vh; position: fixed; left: 0; top: 0;
    background-color: #00000055; display: none;  
}
.actor_role_list_box {position: absolute; width: 900px; height: 500px; background-color: #fff;
    left: 50%; margin-left: -450px; top: 80px;}
.actor_info {display: inline-block; vertical-align: top; margin:10px; border: 1px solid #000;
text-align: center;}
.actor_add_popup, .actor_modify_popup, .actor_search_popup {position: fixed; left: 0; top: 0; width: 100vw; height: 100vh;
z-index: 9; background-color: #00000055;}
.actor_add_form, .actor_modify_form {position: absolute; width: 280px; margin-left: -170px; padding: 30px;
left: 50%; top: 150px; background-color: #fff; box-shadow:0 0 5px #00000099;}
.actor_search_form {position: absolute; padding:30px; width: 550px; background-color: #fff;
    left: 50%; top: 80px; margin-left: -305px;
}
.actor_search_popup {z-index: 99;}
.actor_search_list {max-height:400px; overflow-y:scroll;}