main {
    padding:30px; min-width:1280px; text-align: center;
}
main > h1 {
    font-size: 32px; font-weight: 700; color: #333;
    margin-bottom: 10px; margin-right: 15px;
}
.genre_header button {
    font-size: 14px;
    border: 1px solid #333;
    background-color: #333;
    color: #fff; cursor:pointer;
    border-radius: 3px;
    height:30px; width:130px;
}
.genre_list {clear:both; padding-top: 20px; font-size: 0;}
.genre_item {display: inline-block; vertical-align: top;
    box-shadow:0 0 5px #00000033;
    box-sizing: border-box; width: 230px; padding:20px 30px;
    margin-right: 20px; margin-bottom: 20px;
    border-radius: 5px; text-align: center;
}
.genre_item .name {font-size: 32px; font-weight: 700; color: #333;
margin-bottom: 10px;}
.genre_item .count {margin-bottom: 15px;}
.genre_item .count > * {display: inline-block; vertical-align: bottom;}
.genre_item .count b {font-size: 28px; font-weight: 700;
    color: #333; margin-right: 5px;
}
.genre_item .count span {font-size: 14px; position: relative; top: -2px;}
.genre_item button {
    border: 1px solid #333;
    background-color: transparent; color: #333;
    width: 70px; height: 30px; font-family: "Noto Sans KR";
    margin: 5px; border-radius: 3px; cursor:pointer;
    margin-bottom: 0;
}
.genre_item button:hover {background-color: #333; color: #fff;}
.insert_data_area {
    position: fixed; left: 0; top: 0;
    width: 100vw; height: 100vh;
    background-color: #00000055; display: none;
}
.insert_data {
    position: absolute;
    background-color: #fff;
    left: 50%; top: 50%; margin-left: -165px;
    margin-top: -80px;
    
    
}
.insert_data .content {
    width: 300px; padding:15px;
}
.insert_data h1 {padding:0 15px; background-color: #f1f1f1;
font-size: 14px; font-weight: 700; height: 35px; line-height: 35px;}
.insert_data h1:active {
    cursor:grab
}
.insert_data #cancel {
    position: absolute; right: 0px; top:0px;
    font-family: "Noto Sans KR";
    /* border: 1px solid #333; */
    border: 0; cursor:pointer;
    width: 35px; height: 35px;
}
.insert_data #cancel:hover {
    background-color: rgb(255, 94, 94);
    color: #fff;
}
.insert_data .content input {
    border: 0;
    border-bottom: 1px solid #999;
    width: 220px; font-family: "Noto Sans KR";
    font-size: 16px; height:30px; outline:none;
}
.insert_data .content .before {
    color: #666; margin-bottom: 10px;
}
.insert_data .content #update, .insert_data .content #save {
    width:60px; height:30px;
    font-family: "Noto Sans KR";
    border: 1px solid #333; background-color: transparent;
    cursor:pointer; margin-left: 10px; border-radius: 3px;
}
.insert_data .content #update:hover,
.insert_data .content #save:hover {
    background-color: #333; color: #fff;
}
.pager_area {margin-top: 30px; text-align: center;}
.pager_area a {font-weight: 700; color: #999; text-decoration: none;
margin:10px;}
.pager_area a.current {color: #333; text-decoration: underline;}
.pager_area a:hover {color: #333; text-decoration: underline;}