<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.greenart.movie_admin.mapper.AccountMapper">

    <select id="selectAdminAccountList" resultType="com.greenart.movie_admin.data.account.AdminAccountInfoVO">
        SELECT aai_seq, aai_id, aai_name, aai_role FROM admin_account_info
        WHERE aai_id LIKE '%${keyword}%' LIMIT 10 OFFSET #{offset}
    </select>

    <select id="selectAdminAccountInfoCnt" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM admin_account_info
        WHERE aai_id LIKE '%${keyword}%'
    </select>

    <select id="selectAdminAccountPageCnt" resultType="java.lang.Integer">
        SELECT CEIL(COUNT(*)/10) FROM admin_account_info
        WHERE aai_id LIKE '%${keyword}%'
    </select>

    <insert id="insertAdminAccount">
        INSERT INTO admin_account_info
        (aai_id, aai_pwd, aai_name, aai_role)
        VALUES
        (#{aai_id}, #{aai_pwd}, #{aai_name}, #{aai_role})
    </insert>
    
    <update id="updateAdminAccount">
        UPDATE admin_account_info
        SET
            aai_pwd = #{aai_pwd},
            aai_name = #{aai_name},
            aai_role = #{aai_role}
        WHERE
            aai_seq = #{aai_seq}
    </update>

    <delete id="deleteAdminAccount">
        DELETE FROM admin_account_info WHERE aai_seq = #{aai_seq}
    </delete>
    
    <select id="selectAdminBySeq" resultType="com.greenart.movie_admin.data.account.AdminAccountInfoVO">
        SELECT aai_seq, aai_id, aai_name, aai_role FROM admin_account_info
        WHERE aai_seq = #{seq}
    </select>

    <select id="loginUser" resultType="com.greenart.movie_admin.data.account.AdminAccountInfoVO">
        SELECT aai_seq, aai_id, aai_name, aai_role FROM admin_account_info
        WHERE aai_id = #{aai_id} and aai_pwd = #{aai_pwd}
    </select>
</mapper>



