<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.greenart.movie_admin.mapper.ActorMapper">

    <select id="selectCinemaActorList" resultType="com.greenart.movie_admin.data.actor.CinemaActorListVO">
        select a.*, b.cap_file_name as photo 
            from cinema_actor_info a 
		left outer join
            (
            select * from cinema_actor_photo 
            group by cap_cai_seq
            ) b
        on a.cai_seq = b.cap_cai_seq
        where cai_name like '%${keyword}%'
            <if test="country != null">
            and cai_country = #{country}
            </if>
        limit 10 offset #{offset}
    </select>
    <select id="selectActorListPageCount" resultType="java.lang.Integer">
        select ceil(count(*)/10) from cinema_actor_info 
        where cai_name like '%${keyword}%'
            <if test="country != null">
            and cai_country = #{country}
            </if>
    </select>
    <select id="selectActorCountryList" resultType="java.lang.String">
        select distinct cai_country from cinema_actor_info
    </select>
    <insert id="insertActorInfo" 
        parameterType="com.greenart.movie_admin.data.actor.CinemaActorInfoVO"
        useGeneratedKeys="true" keyProperty="cai_seq">
        INSERT INTO cinema_actor_info(cai_name,cai_country)
        VALUES(#{cai_name},#{cai_country})
    </insert>
    <insert id="insertActorImages">
        INSERT INTO cinema_actor_photo(cap_cai_seq,cap_file_name)
        VALUES
        <foreach collection="list" index="index" item="item" separator=",">
            (#{item.cap_cai_seq}, #{item.cap_file_name} )
        </foreach>
    </insert>
    
    <select id="selectActorRoleCntInfo" resultType="com.greenart.movie_admin.data.movie.MovieInfoVO">
        SELECT 
            mi_seq, mi_title, mi_country, mi_year,
            (
                SELECT COUNT(*) FROM movie_actor_casting_info 
                WHERE maci_mi_seq = mi_seq
            ) AS actor_count 
            FROM movie_info
            WHERE mi_title like '%${keyword}%'
                <if test="country != null">
                and mi_country = #{country}
                </if>
            ORDER BY mi_opening_dt DESC 
            LIMIT 10 OFFSET #{offset}
    </select>
    <select id="selectActorRoleCntInfoPageCount" resultType="java.lang.Integer">
        SELECT CEIL(COUNT(*)/10) 
        FROM movie_info
        WHERE  mi_title like '%${keyword}%'
        <if test="country != null">
            and mi_country = #{country}
        </if>
        ORDER BY mi_opening_dt DESC
    </select>
    <select id="selectActorRoleInfo" resultType="com.greenart.movie_admin.data.actor.ActorRoleInfoVO">
        SELECT a.*, b.cai_name, b.cai_country, c.cap_file_name 
        FROM movie_actor_casting_info a 
        INNER JOIN cinema_actor_info b
            ON a.maci_cai_seq = b.cai_seq
        INNER JOIN cinema_actor_photo c
            ON b.cai_seq = c.cap_cai_seq
        WHERE a.maci_mi_seq = #{seq}
    </select>

    <select id="wefjifeokepof" resultType="java.lang.Integer">
        SELECT  CEIL(COUNT(*)/10) 
        FROM movie_actor_casting_info 
        WHERE maci_mi_seq = #{seq}
        <if test="country != null">
            and mi_country = #{country}
        </if>
        ORDER BY mi_opening_dt DESC 
        LIMIT 10 OFFSET #{offset}
    </select>



    <insert id="insertActorRoleInfo">
        INSERT INTO movie_actor_casting_info
        (maci_cai_seq,maci_mi_seq,maci_casting_name,maci_role)
        VALUES
        (#{maci_cai_seq},#{maci_mi_seq},#{maci_casting_name},#{maci_role})
    </insert>
    <delete id="deleteActorRoleInfoBySeq">
        DELETE FROM movie_actor_casting_info WHERE maci_seq = #{seq}
    </delete>
    <update id="updateActorRoleInfo">
        UPDATE movie_actor_casting_info
        SET maci_casting_name=#{maci_casting_name},
            maci_role=#{maci_role}
        WHERE maci_seq = #{maci_seq}
    </update>


</mapper>



