<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.greenart.movie_admin.mapper.CommentMapper">

    <select id="select##" resultType="com.greenart.movie_admin.data.comment.##VO">
        SELECT * FROM admin_account_info
    </select>
    <insert id="insert##">
        INSERT INTO admin_account_info
        ($$_id, $$_pwd, $$_name, $$_role)
        VALUES
        (#{$$_id}, #{$$_pwd}, #{$$_name}, #{$$_role})
    </insert>

    <delete id="delete##">
        DELETE FROM admin_account_info WHERE $$_seq = #{$$_seq}
    </delete>
    
    <update id="update##">
        UPDATE admin_account_info
        SET
            $$_id = #{data.$$_id},
            $$_pwd = #{data.$$_pwd},
            $$_name = #{data.$$_name},
            $$_role = #{data.$$_role}
        WHERE
            $$_seq = #{$$_seq}
    </update>

    
</mapper>



