<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.greenart.movie_admin.mapper.MovieMapper">
    <insert id="insertGenre">
        INSERT INTO genre_info(genre_name) values (#{name})
    </insert>
    <select id="getGenreList" resultType="com.greenart.movie_admin.data.movie.GenreInfoVO">
        select *,(select count(*) from movie_info where mi_genre_seq = genre_seq) as genre_count
        from genre_info 
        <if test="offset !=null">
            limit 20 offset #{offset}
        </if>
    </select>
    <select id="getGenrePageCnt" resultType="java.lang.Integer">
        select ceil(count(*)/20) from genre_info
    </select>
    <select id="getGenreBySeq" resultType="com.greenart.movie_admin.data.movie.GenreInfoVO">
        select * from genre_info where genre_seq = #{seq}
    </select>
    <update id="updateGenreName">
        update genre_info set genre_name = #{name} where genre_seq = #{seq}
    </update>
    <delete id="deleteGenreInfo">
        delete from genre_info where genre_seq = #{seq}
    </delete>


    <insert id="insertMovieInfo"
        parameterType="com.greenart.movie_admin.data.movie.MovieInfoVO"
        useGeneratedKeys="true" keyProperty="mi_seq">
        INSERT INTO movie_info
        (mi_genre_seq, mi_title, mi_viewing_age, mi_showing_status, 
        mi_country, mi_year, mi_opening_dt, mi_running_time)
        VALUES
        (#{mi_genre_seq},#{mi_title},#{mi_viewing_age},#{mi_showing_status},
        #{mi_country},#{mi_year},#{mi_opening_dt},#{mi_running_time})
    </insert>
    <insert id="insertMovieImage">
        INSERT INTO movie_image(mimg_mi_seq,mimg_order,mimg_file_name)
        VALUES
        <foreach collection="list" index="index" item="item" separator=",">
        (#{seq},0,#{item})
        </foreach>
    </insert>
    <insert id="insertMovieStoryImg">
        INSERT INTO movie_story_img(msi_mi_seq,msi_order,msi_file_name)
        VALUES
        (#{seq},#{order},#{content})
    </insert>
    <insert id="insertMovieStoryText">
        INSERT INTO movie_story_text(mst_mi_seq,mst_order,mst_text)
        VALUES
        (#{seq},#{order},#{content})
    </insert>
    <insert id="insertMovieTrailerVideo">
        INSERT INTO trailer_video_info(tvi_mi_seq,tvi_order,tvi_file_name)
        VALUES
        <foreach collection="list" index="index" item="item" separator=",">
        (#{seq},#{item.order},#{item.file})
        </foreach>
    </insert>

    <select id="selectMovieList" resultType="com.greenart.movie_admin.data.movie.MovieInfoVO">
        SELECT a.*,b.genre_name, c.mimg_file_name as poster_img FROM movie_info a
        LEFT outer join genre_info b 
            ON a.mi_genre_seq = b.genre_seq
	    LEFT outer join (SELECT * FROM movie_image WHERE mimg_is_poster=1)c 
            ON a.mi_seq = c.mimg_mi_seq
        WHERE mi_title like '%${keyword}%'
        <if test="country !=null">
            and mi_country = #{country}
        </if>
        ORDER BY mi_opening_dt DESC
        limit 10 offset #{offset}
    </select>
    <select id="selectMoviePageCnt" resultType="java.lang.Integer">
        SELECT ceil(count(*)/20) FROM movie_info
        WHERE mi_title like '%${keyword}%'
        <if test="country !=null">
            and mi_country = #{country}
        </if>
    </select>

    <select id="selectMovieInfoVOBySeq" resultType="com.greenart.movie_admin.data.movie.MovieInfoVO">
        SELECT * FROM movie_info WHERE mi_seq = #{seq}
    </select>
    <select id="selectMovieImageVOBySeq" resultType="com.greenart.movie_admin.data.movie.MovieImageVO">
        SELECT * FROM movie_image WHERE mimg_mi_seq = #{seq}
    </select>
    <select id="selectTrailerVideoInfoVOBySeq" resultType="com.greenart.movie_admin.data.movie.TrailerVideoInfoVO">
        SELECT * FROM trailer_video_info WHERE tvi_mi_seq = #{seq}
    </select>
    <select id="selectMovieDescriptionBySeq" resultType="com.greenart.movie_admin.data.movie.MovieDescriptionVO">
        SELECT * FROM (
            SELECT
                msi_seq AS seq,
                msi_mi_seq AS mi_seq,
                msi_order AS n_order,
                msi_file_name AS content,
                'img' AS type
            FROM movie_story_img a
            UNION ALL 
            SELECT *, 'text' AS type 
                FROM movie_story_text b
        )ab 
        WHERE mi_seq = #{seq}
        ORDER BY n_order ASC;
    </select>

    <delete id="deleteMovieTrailerInfo">
        DELETE FROM trailer_video_info WHERE tvi_seq = #{seq}
    </delete>
    <delete id="deleteMovieImageInfo">
        DELETE FROM movie_image WHERE mimg_seq = #{seq}
    </delete>
    <delete id="deleteMovieStoryTextInfo">
        DELETE FROM movie_story_text WHERE mst_seq = #{seq}
    </delete>
    <delete id="deleteMovieStoryImageInfo">
        DELETE FROM movie_story_img WHERE msi_seq = #{seq}
    </delete>

    <insert id="insertMovieTrailerInfo"
        parameterType="com.greenart.movie_admin.data.movie.TrailerVideoInfoVO"
        useGeneratedKeys="true" keyProperty="tvi_seq">
        INSERT INTO trailer_video_info
        (tvi_mi_seq, tvi_order, tvi_file_name)
        VALUES
        (#{tvi_mi_seq}, #{tvi_order}, #{tvi_file_name})
    </insert>
    <insert id="insertMovieImageInfo"
        parameterType="com.greenart.movie_admin.data.movie.MovieImageVO"
        useGeneratedKeys="true" keyProperty="mimg_seq">
        INSERT INTO movie_image
        (mimg_mi_seq, mimg_order, mimg_file_name, mimg_is_poster)
        VALUES
        (#{mimg_mi_seq}, 0, #{mimg_file_name}, 0)
    </insert>
    <insert id="insertMovieStoryTextInfo"
        parameterType="com.greenart.movie_admin.data.movie.MovieStoryTextVO"
        useGeneratedKeys="true" keyProperty="mst_seq">
        INSERT INTO movie_story_text
        (mst_mi_seq, mst_order, mst_text)
        VALUES
        (#{msi_mi_seq},#{msi_order},#{msi_file_name})
    </insert>
    <insert id="insertMovieStoryImageInfo"
        parameterType="com.greenart.movie_admin.data.movie.MovieStoryImgVO"
        useGeneratedKeys="true" keyProperty="msi_seq">
        INSERT INTO movie_story_img
        (msi_mi_seq, msi_order, msi_file_name)
        VALUES
        (#{msi_mi_seq},#{msi_order},#{msi_file_name})
    </insert>

    <delete id="deleteMovieStoryImgInfoByMovieSeq">
        DELETE FROM movie_story_img WHERE msi_mi_seq = #{seq}
    </delete>
    <delete id="deleteMovieStoryTextInfoByMovieSeq">
        DELETE FROM movie_story_text WHERE mst_mi_seq = #{seq}
    </delete>

    <select id="selectDescFileNameList" resultType="java.lang.String">
        SELECT msi_file_name FROM movie_story_img WHERE msi_mi_seq = #{seq}
    </select>
    <update id="patchMovieBasicInfo">
        UPDATE movie_info
        SET 
            mi_title = #{mi_title},
            mi_genre_seq = #{mi_genre_seq},
            mi_viewing_age = #{mi_viewing_age},
            mi_showing_status = #{mi_showing_status},
            mi_country = #{mi_country},
            mi_year = #{mi_year},
            mi_opening_dt = #{mi_opening_dt},
            mi_running_time = #{mi_running_time}
        WHERE mi_seq = #{mi_seq}
    </update>
    
</mapper>



